<div class="text-file-select-container">
    <div>
        <h3>Select a File</h3>
        <app-file-input accept='.txt' (onFileSelect)="readFile($event)"></app-file-input>
    </div>
    <div>
        <h3>Choose Sentence Delimiter</h3>
        <mat-form-field>
            <mat-label>Sentence Delimiter</mat-label>
            <mat-select [(value)]="delimiter">
                <mat-option *ngFor="let option of DELIMITER_OPTIONS" [value]="LINE_DELIMITERS[option]">{{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="txt-parse-container">
    <button mat-raised-button color="primary" [disabled]='!rawText || !delimiter' (click)="parseText()">Parse Text</button>
    <p *ngIf="parseMessage">{{parseMessage}}</p>
</div>