@import 'src/custom-theme.scss';

.introduction-container {
    background-color: mat-color($primary, lighter);
    color: mat-color($primary, lighter-contrast);
}

.introduction-sub-container {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 600px;
    text-align: center;
}

.introduction-sub-container>h1 {
    margin: 0;
}

.information-container {
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 1000px;
}