<div class="introduction-container">
    <!-- Title + Link to begin -->
    <div class="introduction-sub-container">
        <h1>NER Annotation Suite</h1>
        <div>
            <p>A simple application for annotating data to feed into NER training.</p>
            <button mat-raised-button routerLink='/tool'>Begin</button>
        </div>
    </div>
</div>

<div class="information-container">
    <h2>What is this?</h2>
    <p>
        Named Entity Recognition (NER) is a natural language processing task whose goal is to identify and classify parts of
        unstructured text in order to further understand and processes data.
    </p>
    <p>
        A major effort in creating an NER model is annotating a corpus of text that will be fed into the machine learning
        process. This application is a solution that streamlines this training step by providing a simple yet flexible user
        interface with tools to help integrate the data into your system.
    </p>
    <p>
        Maintained by <a href="http://christianbudhi.com/">Christian Budhi</a> on
        <a href="https://github.com/BudhiChristian/NER-Annotation-Suite">github</a>.
    </p>
</div>