@import 'src/custom-theme.scss';

$border-radius: 0.5rem;
$general-padding: 0.5rem;
$general-box-shadow: 0px 1px 3px #00000099;

.sentence-view-container {
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
}

.view-control-container {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: mat-color($accent, default);
    color: mat-color($accent, default-contrast);
    border: 0.5px solid #ccc;
    padding: $general-padding;

    display: flex;
}

.view-control-container>*:not(:last-child) {
    padding-right: 0.2rem;
}

.sentences-container {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: mat-color($accent, lighter);
    color: mat-color($accent, lighter-contrast);
    box-shadow: $general-box-shadow inset;
    padding: $general-padding
}

.sentences-container>*>*:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.sentence-view {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0;
    cursor: pointer;
}

.sentence-view:hover {
    background-color: mat-color($accent, default);
    color: mat-color($accent, default-contrast);
}

.remaining-indicator {
    text-align: center;
}