<div class='export-data-container'>
    <h3>Export Data</h3>
    <p>
        Select an option for exporting your data for training and for any remaining untagged data.
    </p>

    <h3>Tagged Data</h3>
    <mat-checkbox [checked]='saveTagged' (change)='saveTagged = $event.checked' color='primary'>include in export</mat-checkbox>
    <mat-form-field color='primary'>
        <mat-label>Tagged Data Output Type</mat-label>
        <mat-select [(value)]='taggedOutputType' [disabled]='!saveTagged'  (selectionChange)='appendToExisting = false; appendData = undefined;'>
            <mat-option *ngFor='let opt of taggedOutputTypes' [value]='opt'>{{opt}}</mat-option>
        </mat-select>
        <mat-hint>{{numTagged}} Entries</mat-hint>
    </mat-form-field>
    <div class='append-container'> 
        <mat-checkbox [checked]='appendToExisting' [disabled]='!saveTagged' (change)='appendToExisting = $event.checked' color='primary'>append to existing data</mat-checkbox>
        <app-choose-append *ngIf='appendToExisting' [disabled]='!saveTagged' [outputType]='taggedOutputType' (onValidate)='appendData = $event'></app-choose-append>
    </div>

    <h3>Untagged Data</h3>
    <mat-checkbox [checked]='saveUntagged' (change)='saveUntagged = $event.checked' color='primary'>include in export</mat-checkbox>
    <mat-form-field color='primary'>
        <mat-label>Untagged Data Output Type</mat-label>
        <mat-select [(value)]='untaggedOutputType' [disabled]='!saveUntagged'>
            <mat-option *ngFor='let opt of untaggedOutputTypes' [value]='opt'>{{opt}}</mat-option>
        </mat-select>
        <mat-hint>{{numUntagged}} Entries</mat-hint>
    </mat-form-field>
    <div class='export-button-container'>
        <button mat-raised-button [disabled]='!canExport' (click)='export()' color='primary'>Export</button>
    </div>
</div>