.export-data-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0.5rem;
}

.export-button-container {
    text-align: center;
    padding: 0.5rem 0;
}

.append-container {
    margin-top: 0.5rem;
}