<div class='export-data-container'>
    <h3>Export Data</h3>
    <p>
        Select an option for exporting your data for training and for any remaining untagged data.
    </p>
    <mat-form-field color='primary'>
        <mat-label>Tagged Data Output Type</mat-label>
        <mat-select [(value)]='taggedOutputType'>
            <mat-option *ngFor='let opt of taggedOutputTypes' [value]='opt'>{{opt}}</mat-option>
        </mat-select>
        <mat-hint>{{numTagged}} Entries</mat-hint>
    </mat-form-field>
    <mat-form-field color='primary'>
        <mat-label>Untagged Data Output Type</mat-label>
        <mat-select [(value)]='untaggedOutputType'>
            <mat-option *ngFor='let opt of untaggedOutputTypes' [value]='opt'>{{opt}}</mat-option>
        </mat-select>
        <mat-hint>{{numUntagged}} Entries</mat-hint>
    </mat-form-field>
    <div class='export-button-container'>
        <button mat-raised-button [disabled]='!taggedOutputType || !untaggedOutputType' (click)='export()' color='primary'>Export</button>
    </div>
</div>