@import 'src/custom-theme.scss';


$border-radius: 0.5rem;

.tag-view-container {
    background-color: mat-color($accent, lighter);
    color: mat-color($accent, lighter-contrast);
    box-shadow: 0px 1px 3px #00000099 inset;

    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
}

.tag-view-container>* {
    // padding: 0.5rem;
}

.tag-input-container {
    display: flex;
    align-items: center;

    border-top: 1px solid #ccc;
    background-color: mat-color($primary, lighter);
    color: mat-color($primary, lighter-contrast);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    padding: 0.5rem 0.5rem 0;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0.25rem 0;
}

.tag-container>* {
    margin: 0 0.25rem 0.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    box-shadow: 0px 1px 3px #00000099;
}