@import 'src/custom-theme.scss';


$border-radius: 0.5rem;
$general-padding: 0.5rem;
$general-box-shadow: 0px 1px 3px #00000099;

.tag-view-container {
    background-color: mat-color($accent, lighter);
    color: mat-color($accent, lighter-contrast);

    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
}

.tag-view-container>*:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    box-shadow: $general-box-shadow inset;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    padding: $general-padding $general-padding/2 0;
}

.tag-container>.entity-tag {
    margin: 0 $general-padding/2 $general-padding;
    padding: 0.2rem;
    border-radius: 0.2rem;
    box-shadow: $general-box-shadow;
    cursor: pointer;
}

.tag-info-container {
    text-align: center;
    padding: $general-padding;
}

.tag-input-container {
    display: flex;
    align-items: center;

    border: 0.5px solid #ccc;
    background-color: mat-color($accent, default);
    color: mat-color($accent, default-contrast);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    padding: $general-padding $general-padding 0;
}

.tag-input-container>*:not(:last-child) {
    margin-right: 0.2rem;
}