<mat-toolbar color='primary' class='application-header'>
    <span>NER Annotation Suite</span>
    <span style='flex: 1 1 auto'></span>
    <button mat-button routerLink='about' title="About">About</button>
    <button mat-button routerLink='tool' title="Annotate">Annotate</button>
    <button mat-button routerLink='documentation' title="Documentation">Documentation</button>
    <a mat-button href="https://github.com/BudhiChristian/NER-Annotation-Suite" title="GitHub"><img src='assets/GitHub-Mark-Light-32px.png'></a>
</mat-toolbar>
<div class="application-container">
    <router-outlet></router-outlet>
</div>