.annotation-suite-container {
    display: flex;
    height: 100%;
    
    align-items: stretch;
    margin: 0 auto;
    max-width: 2000px;
    overflow-y: auto;
    overflow-x: none;
}

.sentence-view-container,.entity-view-container {
    overflow: auto;

    flex: 1 1 0;
    min-width: 320px;
    padding: 0 0.2rem 0.4rem;
}

.sentence-view-container h3,.entity-view-container h3 {
    text-align: center;
}

.annotation-tool-container  {
    overflow: auto;

    flex: 1 1 auto;
    min-width: 600px;
    max-width: 1000px;
    padding: 0 0.2rem;
}