<div class='annotation-tool-container'>
    <div class='text-highlight-container'>
        <div *ngIf='currentData; else noSentence' id='base-string' (mouseup)='getSelected()'>
            <span id='char-{{index}}' *ngFor='let c of sentenceToList(currentData.sentence); let index = index'
            [ngStyle]='styles[index]'>{{c}}</span>
        </div>
        <ng-template #noSentence>
            <div style='text-align: center;'>
                No sentences queued for annotation.
            </div>
        </ng-template>
    </div>
    <div>
        <h4>Selected Substring</h4>
        <div *ngIf='hasSelected; else notSelected'>
            "{{sub}}"
        </div>
        <ng-template #notSelected>
            <div>Highlight text above to begin tagging.</div>
        </ng-template>
        <div class='selected-details-container'>
            <div>
                <h4>Start Index</h4>
                {{start}}
            </div>
            <div>
                <h4>End Index</h4>
                {{end}}
            </div>
            <div>
                <h4>Entity Tag</h4>
                <mat-form-field>
                    <mat-label>Select Entity Tag</mat-label>
                    <mat-select [disabled]='!hasSelected' [(value)]='entityTag'>
                        <mat-option *ngFor='let tag of entityTags' [value]='tag'>{{tag.name}}</mat-option>
                    </mat-select>
                    <mat-hint>Tags can be added to the right.</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class='align-center'>
            <button mat-raised-button color='primary' [disabled]=' !hasSelected||!entityTag' (click)='addEntity()'>Save Tagged Entity</button>
        </div>
    </div>
    <div *ngIf='currentData?.entities?.length > 0'>
        <h3 class='align-center'>Tagged Entities</h3>
        <app-tagged-entity-view [currentData]='currentData' (onDataChanged)='setStyle()'></app-tagged-entity-view>
    </div>
</div>