@import 'src/custom-theme.scss';

.documentation-container {
    height: 100%;

    min-width: 900px;
    display: flex;
    flex-direction: row;
}

.table-of-contents {
    flex: 0 0 300px;
    border-right: 1px solid mat-color($accent, default);
    overflow: auto;

    background-color: mat-color($accent, lighter);
    color: mat-color($accent, lighter-contrast);
}
.section-contents {
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    padding: 0 0.5rem;
    overflow: auto;
}

.ngx-markdown-image {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border: 1px solid mat-color($accent, default);
}

.ngx-markdown-described-image {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.ngx-markdown-described-image>.ngx-markdown-image {
    max-width: 600px;
}