@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'src/custom-theme.scss';

html,
body {
    height: 100%;
}

body {
    min-width: 600px;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    overflow: hidden;

    ::-webkit-scrollbar {
        width: 15px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        // border-radius: 0.2rem;
    }

    ::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 0.2rem;
    }
}

.mat-button {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.mat-form-field {
    width: 100%;
}

a:link {
    color:  mat-color($primary, default);
}

a:visited {
    color:  mat-color($primary, default);
}
