@import 'src/custom-theme.scss';

.stage-buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    background-color: mat-color($accent, lighter);
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

.annotation-content {
    position: relative;
    height: calc(100% - 36px);
    overflow: auto;
}